html {
    height: 100%;
    width: 100%;
}
body {
    height: 99%;
    width: 99%;
    background-color: #352e2b;
}

table, td {
    border: 1px solid;
    border-collapse: collapse;
}
table {
    margin: auto;
    background-color: #B0A695;
}
td {
    padding: 10px;
    padding-bottom: 6px;
}

img {
    visibility: hidden;
    pointer-events: none;
}
img.occupied {
    visibility: visible;
}
img.avatar {
    border-radius: 30px;
}

#decoration {
    background-color: #776B5D;
    border-radius: 20px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: visible;
    width: 2825px;
}

div.player-data {
    position: relative;
    top: 0px;
    left: 0px;
}
div.idunno {
    font-size: 25px;
    width: 600px;
    color: white;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 15px;
    background-color: rgb(39, 39, 39);
    border: 2px solid rgb(185, 185, 185);
}
div p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
div h2 {
    margin-bottom: 0px;
    margin-top: 15px;
}
div img.avatar{
    float: left;
    padding-right: 5px;
    visibility: visible;
}

td.dead {
    border-color: red;
    background-color: rgb(84, 44, 52);
}
.dead img {
    filter: grayscale(100%);
}

td.attacked {
    border-color: red;
    background-color: rgb(84, 44, 52);
}